body {
    background: #000;
    color: #fff;
}
.navbar-dark {
    opacity: 0.8;
}
body a {
    color: #69b1ff;
}
body a:hover {
    color: #c2ddfb;
}

main {
    min-height: 40em;
}

nav header .dropdown-menu .dropdown-item i.fas,
nav header .dropdown-menu .dropdown-item i.far {
    width: 21px;
}

/*pour que les ancres nommÃ©es tombent bien*/
html {
    scroll-padding-top: 60px;
}

#localnav:empty,
#complinfo:empty {
    background-image: url("../../img/fond1.jpg");
    background-size: cover;
    background-position: right;
    filter: hue-rotate(150deg) saturate(150%);
}
#complinfo:empty {
    transform: scaleX(-1);
    filter: saturate(150%);
    z-index: -100;
}
#localnav:empty::after,
#complinfo:empty::after {
    position: absolute;
    content: " ";
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(225deg, rgba(0, 0, 250, 0.2), #889);
    box-sizing: border-box;
}

#timeProgress {
    height: 30px;
    margin-top: -20px !important;
}
#flagContainer {
    padding-top: 40px;
    margin-bottom: -30px;
}

#points-button {
    padding-top: 20px !important;
    padding-bottom: 20px;
}
.point-flag {
    width: 2px;
    height: 30px;
    position: relative;
    margin-top: -30px;
}
.bubble {
    position : absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}

.flag-display-container {
    padding-top: 0px;
    height: 10px;
    background-color: #333;
    margin-top: 3px;
}

.flag-display-container:nth-of-type(2n) {
    background-color: #666;
}

.flag-display-container .point-flag {
    width: 2px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    margin-top: -10px;
    cursor: grab;
    justify-content: center;
}

.flag-display-container .point-flag[data-count="2"] {
    width: 30px; /* Par exemple, pour deux points */
    height: 30px;
}

.flag-display-container .point-flag:first-of-type {
    margin-top: 0px;
}


/* flash-messages.css */
.flash-message {
    background-color: #f0f0f0;
    color: #333;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-bottom: 16px;
    padding: 12px 20px;
}

.flash-message.success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-bottom: 16px;
    padding: 12px 20px;
}

.flash-message.error {
    background-color: #d9534f;
    color: #fff;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-bottom: 16px;
    padding: 12px 20px;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0, 5);
    z-index: 1000;
}
