body{
    background: #000;
    color: #fff;
}
.navbar-dark{
    opacity:0.8
}
body a{
    color:#69b1ff;
}
body a:hover{
    color:#c2ddfb;
}

main{
    min-height: 40em;
}

nav header .dropdown-menu .dropdown-item i.fas,
nav header .dropdown-menu .dropdown-item i.far{
    width:21px;
}

/*pour que les ancres nommÃ©es tombent bien*/
html {
    scroll-padding-top: 60px;
}

#localnav:empty,#complinfo:empty{
    background-image:url("../../img/fond1.jpg");
    background-size:cover;
    background-position: right;
    filter: hue-rotate(150deg)saturate(150%);
}
#complinfo:empty{
    transform:scaleX(-1);
    filter:saturate(150%);
    z-index: -100;
}
#localnav:empty::after,#complinfo:empty::after{
    position: absolute;
    content: ' ';
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(225deg, rgba(0,0,250,0.2), #889);
    box-sizing: border-box;
}

.red-point-flag {
    background-color: red;
    width: 3px; 
    height: 20px; 
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
  }
.blue-point-flag {
    background-color: blue;
    width: 3px; 
    height: 20px; 
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
  }

  /* flash-messages.css */
.flash-message {
    background-color: #f0f0f0;
    color: #333;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-bottom: 16px;
    padding: 12px 20px;
}

.flash-message.success {
    background-color: #d4edda;;
    color: #155724;
    border-color: #c3e6cb;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-bottom: 16px;
    padding: 12px 20px;
}

.flash-message.error {
    background-color: #d9534f;
    color: #fff;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-bottom: 16px;
    padding: 12px 20px;
}
